@model IEnumerable<FeatureDetailsViewModel>
@{
    ViewData["Title"] = "Grid";
}

<h1>Grid</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="Index">List</a>
</p>

@(Html
    .Grid(Model)
    .Build(c =>
    {
        c.Add(m => m.Id).Titled("Id");
        c.Add(m => m.Icon)
            .Titled("Icon")
            .RenderedAs(m => Html.Raw(m.Icon));
        c.Add(m => m.IconName).Titled("Name");
    })
    .Empty("No features!")
    .Filterable()
    .Sortable()
    .Pageable(b => b.RowsPerPage = 5)
)

<script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
<script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
</script>
