@{ 
    ViewData["Title"] = "Edit photos";
}

<h1>Edit object photos</h1>
<h2 class="text-warning">All changes will be applied immediately!</h2>

<input id="object_id" type="hidden" value="@ViewData["ObjectId"]"/>

<partial name="UploadPhotosPartial" />

<hr/>

<ul id="photo-container">
    
</ul>

<hr/>

<p>Drag and drop photos to set sequence!</p>

<input id="reset-button" type="button" value="Reset" class="btn btn-danger"/>
<input id="save-button" type="button" value="Save" class="btn btn-primary"/>

<script src="~/js/edit-photos.js"></script>
