@{ 
    ViewData["Title"] = "Edit photos";
}

<h1>Edit object photos</h1>

<input id="object_id" type="hidden" value="@ViewData["ObjectId"]"/>

<hr/>

<ul id="photo-container">
    
</ul>

<hr/>

<p>Drag and drop photos to set the sequence!</p>

<input id="reset-button" type="button" value="Reset" class="btn btn-danger"/>
<input id="save-button" type="button" value="Save" class="btn btn-primary"/>

<hr/>

<div class="form-group">
    <h3 class="text-warning">Uploads will be applied immediately!</h3>

    <input id="upload_photos" type="file" multiple />
</div>

<script src="~/js/photos_scripts.js"></script>